* {
  box-sizing: border-box;
}

html, .login-img > img {
height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Overpass", sans-serif;
  margin: 0;
  height: inherit;
}

.detail-box {
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.details {
  font-size: 20px;
  font-family: 'Helvetica', Times, serif;
  text-align: left;
  align-items: left;
  font-size: 14pt;
}

.team-card img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  object-fit: cover;
  border-radius: 10px;
  width: 140px;
  height: 140px;
}

.team-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: rgba(184, 184, 184, 0.637);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  max-width: 170px;
  min-width: 170px;
}

.team-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  padding: 30px;
}


.navigation {
  display: flex;
  background-color: black;
  align-items: center;
  font-size: 28px;
  justify-content: flex-end;
}

.navigation-links {
  display: flex;
}

.nav-brand-name {
  font-family: "Reggae One", sans-serif;
  margin-right: auto;
  align-self: center;
  padding-top: 15px;
  padding-left: 20px;
}

.nav-link:hover {
  background-color: #4382CD;
}

footer {
  color: white;
  background-color: black;
  text-align: center;
  font-family: inherit;
  padding: 20px;
  width: 100%;
  font-size: 15px;
  align-self: flex-end;
}